<h1>About <%= APPLICATION_NAME %></h1>
<p>
    a community based web application, intern.fht.psu.ac.th  , whose goal is to provide information to students of Prince of Songkla University about different internship sites best to work at and provide platform for interactive relationship between sites and students. 
</p>
