<title>View Source</title>
<b>Controller</b>
<br/>
<pre style="text-align: left;"><%=h @sourceController %></pre>
<hr/><b>Model</b>
<pre style="text-align: left;"><%=h @sourceModel %></pre>
<hr/><b>Html.erb</b>
<pre style="text-align: left;"><%=h @sourceHtmlErb %></pre>
