<div id="content-middle">
    <b>Controller</b>
    <br/>
    <% for controller in @controller_list %>
    <%= link_to controller, :name => controller, :type => "controller" %>
    <br/>
    <% end %>
    <b>Model</b>
	<% for model in @model_list %>
    <%= link_to model, :name => model, :type => "model" %>
    <br/>
    <% end %>
    <b>Views</b>
    <hr/><pre style="text-align: left;"><%=h @sourcecontent %></pre>
</div>