<% form_for :criteria, @criteria, :url => {:action => :update_criteria, :id => @criteria.id} do |criteria_form| %>
<fieldset>
    <legend>
        Evaluation Criteria
    </legend>
    <div>
        <%= criteria_form.label :title, "Criteria" %>
        <%= criteria_form.text_area :title, :rows => 1, :cols => 50 %>
    </div>
    <div>
        <%= criteria_form.submit "Update" %>
    </div>
</fieldset>
<% end %>