<% form_tag :action => :forgetpassword do %>
<fieldset>
    <legend>
        Forget Password
    </legend>
    <div>
        <%= label_tag :username, "User Name:" %>
        <%= text_field_tag :username, '', :size => 20 %>
    </div>
    <div>
        <%= submit_tag "Verify", :disable_with => "Please wait..." %>
    </div>
</fieldset>
<% end %>