<script type="text/javascript">
    function validateInput(){
        if(document.getElementById('username').value == ""){
			alert("Please enter username!");
            document.getElementById('username').focus();
            return false;
		}else{
			return true;
		}            
    }
	
</script>

<% form_tag ({:action => :forgetpassword}, {:onsubmit => "return validateInput()"}) do %>
<fieldset>
    <legend>
        Forget Password
    </legend>
    <div class="form_row" style="text-align:left;">
        <%= label_tag :username, "User Name<font color='Red'>&nbsp;*</font>:" %>
        <%= text_field_tag :username, '', :size => 20 %>
    </div>
    <div>
        <%= submit_tag "Verify", :disable_with => "Please wait..." %>
    </div>
</fieldset>
<% end %>