<script type="text/javascript">
	
	function show_page(obj) {
		if (obj.value == 'student') {
			var url = '/user/studententry';
		}else if(obj.value == 'faculty'){
			var url = '/user/facultyentry';
		}else if(obj.value == 'site'){
			var url = '/user/siteentry';
		}else{
			document.getElementById("mainPage").innerHTML = "";
		}
		if(obj.value != '')
			new Ajax.Request(url, {
				method: 'get',
				onSuccess: function(request){
					document.getElementById("mainPage").innerHTML = request.responseText;
				}
			})
	}
	
</script>
<h1>Register</h1>
Type: <%= select("post", "category","<option value='student'>Student</option>,<option value='faculty'>Faculty</option>,<option value='site'>Site</option>", {:include_blank => true},{:onchange => "show_page(this)"})%>
<div id="mainPage"></div>
